node_modules
tmp
npm-debug.log
Thumb.db
.idea
.zip
.DS_Store
.svn
.psd
.grunt-cache
.grunt
.env
docs/apidoc
*.log*
config.json
data
dist/**/*.min.js
build
!build/README.md
data
.youkuohao
.idea
.DS_Store
node_modules
dist
Thumb.db
*.log*
index.min.html
# packages
packages/**/*.js
packages/*/images
!packages/*/src/**/*.js
!packages/tiny/lib/**/*
!packages/tiny/index.js
